<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <creatuityaicontent>
            <general>
                <aiprovider>openai</aiprovider>
            </general>
            <openai_api>
                <model_name>gpt-5.4-mini</model_name>
                <fetch_model_list>0</fetch_model_list>
            </openai_api>
        </creatuityaicontent>
    </default>
</config>
